<%= form_with(model: parking, local: true) do |form| %>
  <% if parking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

      <ul>
      <% parking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_usuario %>
    <%= form.number_field :id_usuario, id: :parking_id_usuario %>
  </div>

  <div class="field">
    <%= form.label :id_ubicacion %>
    <%= form.number_field :id_ubicacion, id: :parking_id_ubicacion %>
  </div>

  <div class="field">
    <%= form.label :id_imagen %>
    <%= form.number_field :id_imagen, id: :parking_id_imagen %>
  </div>

  <div class="field">
    <%= form.label :id_servicio_adicional %>
    <%= form.number_field :id_servicio_adicional, id: :parking_id_servicio_adicional %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :parking_nombre %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :parking_direccion %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio, id: :parking_precio %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.number_field :telefono, id: :parking_telefono %>
  </div>

  <div class="field">
    <%= form.label :id_tipo %>
    <%= form.number_field :id_tipo, id: :parking_id_tipo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
