<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :user_nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido1 %>
    <%= form.text_field :apellido1, id: :user_apellido1 %>
  </div>

  <div class="field">
    <%= form.label :apellido2 %>
    <%= form.text_field :apellido2, id: :user_apellido2 %>
  </div>

  <div class="field">
    <%= form.label :id_tipo_documento %>
    <%= form.number_field :id_tipo_documento, id: :user_id_tipo_documento %>
  </div>

  <div class="field">
    <%= form.label :numero_documento %>
    <%= form.number_field :numero_documento, id: :user_numero_documento %>
  </div>

  <div class="field">
    <%= form.label :id_tipo_usuario %>
    <%= form.number_field :id_tipo_usuario, id: :user_id_tipo_usuario %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono, id: :user_telefono %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo, id: :user_correo %>
  </div>

  <div class="field">
    <%= form.label :correo_confirmation %>
    <%= form.text_field :correo_confirmation, id: :user_correo_confirmation %>
  </div>

  <div class="field">
    <%= form.label :contraseña %>
    <%= form.text_field :contraseña, id: :user_contraseña %>
  </div>

  <div class="field">
    <%= form.label :contraseña_confirmation %>
    <%= form.text_field :contraseña_confirmation, id: :user_contraseña_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
