
</br>
</br>
</br>
 <div class="container theme-showcase" role="main">
<!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron jumbotron-fluid">
              <%= form_with(model: user, local: true) do |form| %>
              <% if user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

                  <ul>
                  <% user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="container">
             <h1 class="display-4">Registrate</h1>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">

              <div class="field">
                <%= form.label :nombre %>
                <%= form.text_field :nombre, id: :user_nombre, class: 'form-control' %>
              </div>

              <div class="field">
                <%= form.label :apellido1 %>
                <%= form.text_field :apellido1, id: :user_apellido1, class: 'form-control'%>
              </div>

              <div class="field">
                <%= form.label :apellido2 %>
                <%= form.text_field :apellido2, id: :user_apellido2, class: 'form-control' %>
              </div>

              <div class="field">
                <%= form.label :id_tipo_documento %>
                <%= form.number_field :id_tipo_documento, id: :user_id_tipo_documento, class: 'form-control' %>
              </div>

              <div class="field">
                <%= form.label :numero_documento %>
                <%= form.number_field :numero_documento, id: :user_numero_documento, class: 'form-control' %>
              </div>

              <div class="field">
                <%= form.label :usertype_id %>
                <%= form.number_field :usertype_id, id: :usertype_id, class: 'form-control' %>
              </div>

              <div class="field">
                <%= form.label :telefono %>
                <%= form.text_field :telefono, id: :user_telefono, class: 'form-control' %>
              </div>

              <div class="field">
                <%= form.label :correo %>
                <%= form.text_field :correo, id: :user_correo, class: 'form-control' %>
              </div>

              <div class="field">
                <%= form.label :correo_confirmation %>
                <%= form.text_field :correo_confirmation, id: :user_correo_confirmation, class: 'form-control' %>
              </div>

              <div class="field">
                <%= form.label :contraseña %>
                <%= form.text_field :contraseña, id: :user_contraseña, class: 'form-control' %>
              </div>

              <div class="field">
                <%= form.label :contraseña_confirmation %>
                <%= form.text_field :contraseña_confirmation, id: :user_contraseña_confirmation, class: 'form-control' %>
              </div>

              <div class="actions">
                <%= form.submit "Registrarse", class: "btn btn-info" %>
              </div>
              </div>
              </div>
            <% end %>
