<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido1</th>
      <th>Apellido2</th>
      <th>Id tipo documento</th>
      <th>Numero documento</th>
      <th>Id tipo usuario</th>
      <th>Telefono</th>
      <th>Correo1</th>
      <th>Correo2</th>
      <th>Contrase単a1</th>
      <th>Contrase単a2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombre %></td>
        <td><%= user.apellido1 %></td>
        <td><%= user.apellido2 %></td>
        <td><%= user.id_tipo_documento %></td>
        <td><%= user.numero_documento %></td>
        <td><%= user.id_tipo_usuario %></td>
        <td><%= user.telefono %></td>
        <td><%= user.correo1 %></td>
        <td><%= user.correo2 %></td>
        <td><%= user.contrase単a1 %></td>
        <td><%= user.contrase単a2 %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
