
<div class="jumbotron jumbotron-fluid">

  <div class="container">
   <h1 class="display-4">Usuario Registrado</h1>
        <div class="row">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Nombre:</strong>
          <%= @user.nombre %>
        </p>

        <p>
          <strong>Apellido1:</strong>
          <%= @user.apellido1 %>
        </p>

        <p>
          <strong>Apellido2:</strong>
          <%= @user.apellido2 %>
        </p>

        <p>
          <strong>Id tipo documento:</strong>
          <%= @user.id_tipo_documento %>
        </p>

        <p>
          <strong>Numero documento:</strong>
          <%= @user.numero_documento %>
        </p>

        <p>
          <strong>Id tipo usuario:</strong>
          <%= @user.usertype_id %>
        </p>

        <p>
          <strong>Telefono:</strong>
          <%= @user.telefono %>
        </p>

        <p>
          <strong>Correo:</strong>
          <%= @user.correo %>
        </p>

        <p>
          <strong>Correo_confirmation:</strong>
          <%= @user.correo_confirmation %>
        </p>

        <p>
          <strong>Contrase単a:</strong>
          <%= @user.contrase単a %>
        </p>

        <p>
          <strong>Contrase単a:</strong>
          <%= @user.contrase単a_confirmation %>
        </p>

        <%= link_to 'Editar', edit_user_path(@user), class: "btn btn-info" %> |
        <%= link_to 'Regresar', root_path, class: "btn btn-info" %> |
        <%= link_to 'Ingresar', login_path, class: "btn btn-primary" %>
