<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_estacionamiento %>
    <%= form.number_field :id_estacionamiento, id: :service_id_estacionamiento %>
  </div>

  <div class="field">
    <%= form.label :tipo_servicio %>
    <%= form.number_field :tipo_servicio, id: :service_tipo_servicio %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :service_descripcion %>
  </div>

  <div class="field">
    <%= form.label :tarifa %>
    <%= form.text_field :tarifa, id: :service_tarifa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
