<div class="jumbotron jumbotron-fluid">

  <div class="container">
   <h1 class="display-4">Servicio Registrado</h1>
    <div class="row">
<p id="notice"><%= notice %></p>

<p>
  <strong>Id estacionamiento:</strong>
  <%= @service.parking_id %>
</p>

<p>
  <strong>Tipo servicio:</strong>
  <%= @service.tipo_servicio %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @service.descripcion %>
</p>

<p>
  <strong>Tarifa:</strong>
  <%= @service.tarifa %>
</p>

<%= link_to 'Editar', edit_service_path(@service), class: "btn btn-info" %> |
<%= link_to 'Regresar', services_path, class: "btn btn-info" %>
 </div>
  </div>