<p id="notice"><%= notice %></p>

<p>
  <strong>Id estacionamiento:</strong>
  <%= @service.parking_id %>
</p>

<p>
  <strong>Tipo servicio:</strong>
  <%= @service.tipo_servicio %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @service.descripcion %>
</p>

<p>
  <strong>Tarifa:</strong>
  <%= @service.tarifa %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
