      <div class="page-header">
        <h1>Carousel</h1>
      </div>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->

  <ol class="carousel-indicators">

    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>

    <li data-target="#carousel-example-generic" data-slide-to="1"></li>

    <li data-target="#carousel-example-generic" data-slide-to="2"></li>

  </ol>

  <!-- Wrapper for slides -->

  <div class="carousel-inner" role="listbox">

    <div class="item active">

      <%= image_tag "parking01.jpg", html: { alt: "rest_slider1" } %>

      <div class="carousel-caption">

        <h3>Parkeate</h3>

        <p>La mejor opción para estacionar tu vehiculo </p>

      </div>

    </div>

    <div class="item">

      <%= image_tag "parking02.jpg", html: { alt: "rest_slider2" } %>

      <div class="carousel-caption">

        <h3>Seguridad</h3>

        <p>Seguridad y calidad en un solo lugar </p>

      </div>

    </div>

    <div class="item">

      <%= image_tag "parking03.jpg", html: { alt: "rest_slider3" }%>

      <div class="carousel-caption">

        <h3>Servicio de calidad</h3>

        <p>El mejor servicio a tu disposición</p>

      </div>

    </div>

  </div>

  <!-- Controls -->

  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

    <span class="sr-only">Previous</span>

  </a>

  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">

    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

    <span class="sr-only">Next</span>

  </a>

</div>
  <div class="container theme-showcase" role="main">
<!-- Main jumbotron for a primary marketing message or call to action -->
      	<div class="jumbotron">
	        <h1>Parkeate</h1>
			<p>El portal de estacionamientos líder en Perú--			1,450 ofertas</p>
			<%= form_for :busqueda, :html => {:method=>:post} do |f| %>

				<div class ="form-group">
					<div class="col-sm-2">
						<%= f.label :estacionamiento %>
					</div>
					<div class="col-sm-offset-0 col-sm-3">
						<%= f.text_field :estacionamiento,{:class =>"form-control"} %>
					</div>
					<div class="col-sm-1">
						<%= f.label :distrito %>
					</div>
					<div class="col-sm-offset-0 col-sm-3">
						<%= f.select :distrito,[["San Miguel", 1],["Cercado de Lima",2],["Callao",3]], {:include_blank =>"Seleccionar"},{:class => "form-control"} %>
					</div>
					<div class="col-sm-offset-0 col-sm-3">
						<%= f.submit "Buscar estacionamientos", :class => "btn btn-primary" %>
					</div>
				</div>
		</div>
	</div>	

<% end %>
