<h1>Parkeate.com</h1>
<p>El portal de estacionamientos líder en Perú*
1,450 ofertas</p>


<%= form_tag home_search_path do %>

<div class ="form-group">
	<div class="col-sm-1">
		<%= label_tag 'name' %>
	</div>
	<div class="col-sm-offset-0 col-sm-3">
		<%= text_field_tag 'name',nil,class: 'form-control' %>
	</div>
	<div class="col-sm-1">
		<%= label_tag 'distrito' %>
	</div>
	<div class="col-sm-offset-0 col-sm-3">
		<%= select_tag 'distrito', {:include_blank =>"Seleccionar"},:class => "form-control" %>
	</div>
	<div class="col-sm-offset-0 col-sm-3">
		<%= submit_tag "Buscar estacionamientos", :class => "btn btn-primary" %>
	</div>
</div>

<% end %>
